<%include ../../partials/header%>
    <div class="ui grid center aligned">
        <div class="ten wide computer ten wide tablet sixteen wide mobile column">
            <form class="ui form segment" action="/real-estates/buy/<%=property._id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <h4 class="ui dividing header">Edit Comment to <%=property.name%> in Buy Section</h4>
                <div class="field">
                    <label>Rating (1-5)</label>
                    <input type="number" name="comment[rating]" value="<%=comment.rating%>" required="required">
                </div>
                <div class="field">
                    <label>Review</label>
                    <textarea name="comment[text]" required="required"><%=comment.text%></textarea>
                </div>
                <button class="ui button green" tabindex="0">Edit Comment for <%=property.name%></button>
            </form>
        </div>
    </div>
<%include ../../partials/footer%>